<html lang="en-US" class="no-js">

<head>
    <%- include('../../components/head'); %>
    <link href="../../../assets/css/roadmap_style.css" rel="stylesheet" type="text/css" />
    <script src="../assets/scripts/roadmap_slider.js" defer></script>
</head>

<body>
    <div id="root">
        <div class="commonStyle-self">
            <%- include('../../components/nav.ejs'); %>
            <div class="MuiBox-root">
                <%- include('./partials/roadmap.ejs'); %>
                <%- include('./partials/todolist.ejs'); %>
            </div>
            <%- include('../../components/footer'); %>
        </div>
    </div>
</body>

</html>