<html lang="en">

<head>
  <%- include('../../components/head.ejs') %>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root">
    <div class="main-bg">
      <%- include('../../components/nav.ejs') %>
        <div class="flex flex-col gap-100">
          <%- include('./partials/hero.ejs') %>
          <%- include('./partials/dana.ejs') %>
          <%- include('./partials/table.ejs') %>
          <%- include('./partials/guideCards.ejs') %>
        </div>
        <%- include('../../components/footer.ejs') %>
    </div>
  </div>
</body>

</html>
