<html lang="en-US" class="no-js">

<head>
  <%- include('../../components/head'); %>
  <link href="../../assets/css/team_style.css" rel="stylesheet" type="text/css" />
</head>

<body id="body" class="unveil">
  <%- include('../../components/svg-defs'); %>
  
  <div id="root">
    <div class="commonStyle-self">
      <%- include('../../components/nav.ejs', {currentUrl: '/team' }); %>
      <div class="Main-container main-bg">
        <%- include('./partials/intro.ejs'); %>
        <%- include('./partials/members.ejs'); %>
        <%- include('./partials/advisors.ejs'); %>
      </div>
      <%- include('../../components/footer'); %>
    </div>
  </div>
</body>

</html>
