<div class="Grid-item Grid-grid-xs-12 Grid-grid-md-4">
    <% if (info) { %>
    <div class="com-card-exInfo">
    <% } %>
    <% if (!info) { %>
    <div class="com-card-noneInfo">
    <% } %>
        <div class="com-card-img">
            <%- include('./circle_btn.ejs', {btn: 156}) %>
            <div class="common-children">
                <img class="community-card-img" src="<%=card.img_src%>"
                    alt="" width="auto" />
            </div>
        </div>
        <p class="Typography-root Typography-h5 mb-20">
            <%=card.title%>
        </p>
        <% if (card.info) { %>
        <p class="Typography-root Typography-h4 mb-30"><%=card.info%></p>
        <% } %>
        <a class="Typography-root Link-underlineHover com-card-cta Typography-colorPrimary"
            href="<%=card.href%>">
            <%- include('./button.ejs', {btn: card.btn}) %>
        </a>
    </div>
</div>