<a class="Typography-root Link-underlineHover socialIconLink Typography-colorPrimary" href="<%=icon.href%>"
    rel="noopener noreferrer" target="_blank"><svg width="<%=icon.width%>" height="<%=icon.height%>" viewBox="0 0 <%=icon.width%> <%=icon.height%>" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="<%=icon.path_d%>"
            fill="#F5FCFE"></path>
    </svg>
</a>